# Ambientes virtuais
venv/
.venv/
env/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Arquivos de IDE
.vscode/
.idea/

# Arquivos de dependências e build
dist/
build/
*.egg-info/

# --- 
# Arquivo atualizado pelo DomTech Forger em 2025-06-22 22:41:59
